---
title: Home
description: >-
  I've Got Your Back. Let's Bring You Peace of Mind – Book Your Free 15-Minute
  Discovery Call Now. 
image: /uploads/pxfuel-com.jpg
bottom_image: ''
---
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Struggling with Legal Issues in China as a Foreigner?&nbsp;
			</h1>
			<p class="subtext editable">
				I've Got Your Back. Let's Bring You Peace of Mind – Book Your Free 15-Minute Discovery Call Now.&nbsp;
			</p>
			<div class="cta button alt"><a href="https://cal.com/qingdao/15min">Claim Your Free Call</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					<strong>3 Ways I Can Help You...</strong>
				</h2>
				<p class="editable">
					<em>Ready to take action? Here are three ways I can assist you in navigating China's legal terrain.<br /><br /><em>Got questions? Let's talk. Book your free 15-minute <strong>Discovery Call</strong>, and we'll address your concerns right away.</em></em>
				</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					<strong>Legal Power Hour</strong>
				</h2>
				<p class="editable">
					<em><em><a href="https://cal.com/qingdao/legal-power-hour"><strong>Schedule your 60-minute</strong></a> Legal Power Hour on Zoom. It's your chance to ask me as much as you can fit in these valuable minutes.<br /><br />Gain insights, find peace of mind, and make the most of our time together.</em></em>
				</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					<strong>Retainer Plan</strong>
				</h2>
				<p class="editable">
					<em></em><em>Seeking continuous support?<br /><br />Explore our Retainer Plan – your gateway to ongoing assistance and a tailor-made strategy for you.<br /><br /><strong>Learn More</strong>&nbsp;</em>
				</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Let's Chat
				</h2>
				<p class="subtext editable">
					<em>Your legal journey starts with a single step. Take action today and secure your free 15-minute Discovery Call. Let's work together to bring you peace of mind amidst legal complexities.</em>
				</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
